body {
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movie-container {
  background-color: #454b58;
  padding-left: 10px;
}
.articlePreviewContainer {
  background-color: #454b58;
}
